<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.lmgy.exportapk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.FolderSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.AboutActivity"
            android:theme="@style/TransparentSystemUITheme" />
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:theme="@style/TransparentSystemUITheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <dist:module dist:instant="true" />

</manifest>